.u-section-1 .u-sheet-1 {
  min-height: 140px;
}

.u-section-1 .u-image-1 {
  height: 140px;
  width: 440px;
  filter: brightness(0.65);
  margin: 0 -50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: auto;
  margin: -96px 7px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  width: auto;
  margin: 0 auto 35px 7px;
}.u-section-2 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-2 .u-image-1 {
  width: 112px;
  height: 72px;
  margin: 17px auto 0 21px;
}

.u-section-2 .u-text-1 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -72px auto 0 148px;
}

.u-section-2 .u-text-2 {
  width: auto;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto 0 148px;
}

.u-section-2 .u-image-2 {
  width: 112px;
  height: 72px;
  margin: 64px auto 0 21px;
}

.u-section-2 .u-text-3 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -72px auto 0 148px;
}

.u-section-2 .u-text-4 {
  width: auto;
  font-size: 1rem;
  margin: 0 auto 0 149px;
}

.u-section-2 .u-image-3 {
  width: 112px;
  height: 72px;
  margin: 63px auto 0 21px;
}

.u-section-2 .u-text-5 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -72px auto 0 149px;
}

.u-section-2 .u-text-6 {
  width: auto;
  font-size: 1rem;
  margin: 1px auto 0 149px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: -144px;
  margin-bottom: 0;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-2 .u-line-3 {
  transform-origin: left center 0px;
  margin-top: 98px;
  margin-bottom: 0;
}

.u-section-2 .u-image-4 {
  width: 112px;
  height: 72px;
  margin: 8px auto 0 21px;
}

.u-section-2 .u-text-7 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -70px auto 0 148px;
}

.u-section-2 .u-image-5 {
  width: 112px;
  height: 72px;
  margin: 80px auto 0 21px;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  font-weight: 600;
  width: auto;
  margin: -69px 91px 0 138px;
}

.u-section-2 .u-text-9 {
  width: auto;
  font-size: 1rem;
  margin: -100px auto 0 147px;
}

.u-section-2 .u-text-10 {
  width: auto;
  font-size: 1rem;
  margin: 84px auto 0 149px;
}

.u-section-2 .u-line-4 {
  transform-origin: left center 0px;
  margin-top: -47px;
  margin-bottom: 0;
}

.u-section-2 .u-shape-1 {
  width: 153px;
  height: 25px;
  margin: -417px auto 0 13px;
}

.u-section-2 .u-text-11 {
  font-size: 1rem;
  width: auto;
  font-weight: 700;
  margin: -22px 146px 0 24px;
}

.u-section-2 .u-image-6 {
  width: 112px;
  height: 72px;
  margin: 497px auto 0 21px;
}

.u-section-2 .u-text-12 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -72px auto 0 148px;
}

.u-section-2 .u-text-13 {
  width: auto;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto 0 148px;
}

.u-section-2 .u-image-7 {
  width: 112px;
  height: 72px;
  margin: 64px auto 0 21px;
}

.u-section-2 .u-text-14 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -72px auto 0 149px;
}

.u-section-2 .u-text-15 {
  width: auto;
  font-size: 1rem;
  margin: 0 auto 0 149px;
}

.u-section-2 .u-image-8 {
  width: 112px;
  height: 72px;
  margin: 63px auto 0 21px;
}

.u-section-2 .u-text-16 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -72px auto 0 149px;
}

.u-section-2 .u-text-17 {
  width: auto;
  font-size: 1rem;
  margin: 1px auto 0 149px;
}

.u-section-2 .u-line-5 {
  transform-origin: left center 0px;
  margin-top: -144px;
  margin-bottom: 0;
}

.u-section-2 .u-line-6 {
  transform-origin: left center 0px;
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-2 .u-line-7 {
  transform-origin: left center 0px;
  margin-top: 98px;
  margin-bottom: 0;
}

.u-section-2 .u-image-9 {
  width: 112px;
  height: 72px;
  margin: 8px auto 0 21px;
}

.u-section-2 .u-text-18 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -70px auto 0 148px;
}

.u-section-2 .u-image-10 {
  width: 112px;
  height: 72px;
  margin: 80px auto 0 21px;
}

.u-section-2 .u-text-19 {
  font-size: 1rem;
  font-weight: 600;
  width: auto;
  margin: -69px 91px 0 138px;
}

.u-section-2 .u-text-20 {
  width: auto;
  font-size: 1rem;
  margin: -100px auto 0 147px;
}

.u-section-2 .u-text-21 {
  width: auto;
  font-size: 1rem;
  margin: 84px auto 0 149px;
}

.u-section-2 .u-line-8 {
  transform-origin: left center 0px;
  margin-top: -47px;
  margin-bottom: 0;
}

.u-section-2 .u-line-9 {
  transform-origin: left center 0px;
  margin-top: -382px;
  margin-bottom: 0;
}

.u-section-2 .u-text-22 {
  width: auto;
  font-size: 1rem;
  margin: 20px auto 0 160px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-23 {
  width: auto;
  font-size: 1rem;
  margin: -19px 145px 0 auto;
}

.u-section-2 .u-btn-2 {
  background-image: none;
}

.u-section-2 .u-icon-1 {
  width: 11px;
  height: 11px;
  margin: -15px 133px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 11px;
  height: 11px;
  transform-origin: center center 0px;
  transform: scaleX(-1);
  margin: -11px auto 60px 145px;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 57px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-13 {
    font-size: 0.625rem;
    margin-top: 4px;
    margin-right: 84px;
    margin-left: auto;
  }

  .u-section-2 .u-image-7 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-16 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-17 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-18 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-19 {
    font-size: 0.875rem;
    margin-right: 80px;
    margin-left: 149px;
  }

  .u-section-2 .u-text-20 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-21 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-22 {
    font-size: 0.875rem;
    margin-top: 557px;
    margin-left: 154px;
  }

  .u-section-2 .u-text-23 {
    margin-right: auto;
    margin-left: 175px;
  }

  .u-section-2 .u-btn-2 {
    padding: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-right: auto;
    margin-left: 190px;
  }

  .u-section-2 .u-icon-2 {
    margin-bottom: 58px;
    margin-left: 139px;
  }
}