 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 222px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.65);
}

.u-section-1 .u-text-1 {
  width: auto;
  font-weight: 700;
  margin: -103px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 140px;
    width: 440px;
    margin: 0 -50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -101px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 39px;
    margin-left: 7px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1209px;
}

.u-section-2 .u-image-1 {
  width: 135px;
  height: 101px;
  margin: -293px auto 0 12px;
}

.u-section-2 .u-text-1 {
  width: auto;
  font-size: 1.125rem;
  font-weight: normal;
  margin: -101px 32px 60px auto;
}

.u-section-2 .u-text-2 {
  font-family: "Space Grotesk";
  width: auto;
  font-size: 0.9375rem;
  margin: 12px -113px 60px auto;
}

.u-section-2 .u-image-2 {
  width: 112px;
  height: 72px;
  margin: 56px auto 0 21px;
}

.u-section-2 .u-text-3 {
  width: auto;
  font-size: 0.9375rem;
  font-weight: 600;
  margin: -69px 95px 0 auto;
}

.u-section-2 .u-text-4 {
  width: auto;
  font-size: 0.625rem;
  margin: 0 106px 60px auto;
}

.u-section-2 .u-image-3 {
  width: 112px;
  height: 72px;
  margin: 63px auto 0 21px;
}

.u-section-2 .u-text-5 {
  width: auto;
  font-size: 0.9375rem;
  font-weight: 600;
  margin: -72px 92px 0 auto;
}

.u-section-2 .u-text-6 {
  width: auto;
  font-size: 0.625rem;
  margin: 0 102px 60px auto;
}

.u-section-2 .u-line-1 {
  margin-top: -144px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-2 .u-line-3 {
  transform-origin: left center 0px;
  margin-top: 94px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-4 {
  width: 112px;
  height: 72px;
  margin: 12px auto 0 21px;
}

.u-section-2 .u-text-7 {
  width: auto;
  font-size: 0.9375rem;
  font-weight: 600;
  margin: -72px auto 0 149px;
}

.u-section-2 .u-image-5 {
  width: 112px;
  height: 72px;
  margin: 75px auto 0 21px;
}

.u-section-2 .u-text-8 {
  width: auto;
  font-size: 0.9375rem;
  font-weight: 600;
  margin: -72px auto 60px 149px;
}

.u-section-2 .u-text-9 {
  width: auto;
  font-size: 0.625rem;
  margin: -97px 114px 0 auto;
}

.u-section-2 .u-text-10 {
  width: auto;
  font-size: 0.625rem;
  margin: 81px 114px 0 auto;
}

.u-section-2 .u-line-4 {
  transform-origin: left center 0px;
  margin-top: -49px;
  margin-bottom: 60px;
}

.u-section-2 .u-shape-1 {
  width: 170px;
  height: 28px;
  margin: 37px auto 0 0;
}

.u-section-2 .u-text-11 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -33px auto 0 0;
}

.u-section-2 .u-image-6 {
  width: 112px;
  height: 72px;
  margin: 495px auto 0 21px;
}

.u-section-2 .u-text-12 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -72px auto 0 148px;
}

.u-section-2 .u-text-13 {
  width: auto;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto 0 148px;
}

.u-section-2 .u-image-7 {
  width: 112px;
  height: 72px;
  margin: 64px auto 0 21px;
}

.u-section-2 .u-text-14 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -72px auto 0 149px;
}

.u-section-2 .u-text-15 {
  width: auto;
  font-size: 1rem;
  margin: 0 auto 0 149px;
}

.u-section-2 .u-image-8 {
  width: 112px;
  height: 72px;
  margin: 63px auto 0 21px;
}

.u-section-2 .u-text-16 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -72px auto 0 149px;
}

.u-section-2 .u-text-17 {
  width: auto;
  font-size: 1rem;
  margin: 1px auto 0 150px;
}

.u-section-2 .u-line-5 {
  margin-top: -144px;
  transform-origin: left center 0px;
  margin-bottom: 0;
}

.u-section-2 .u-line-6 {
  transform-origin: left center 0px;
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-2 .u-line-7 {
  transform-origin: left center 0px;
  margin-top: 98px;
  margin-bottom: 0;
}

.u-section-2 .u-image-9 {
  width: 112px;
  height: 72px;
  margin: 8px auto 0 21px;
}

.u-section-2 .u-text-18 {
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  margin: -70px auto 0 148px;
}

.u-section-2 .u-image-10 {
  width: 112px;
  height: 72px;
  margin: 80px auto 0 21px;
}

.u-section-2 .u-text-19 {
  font-size: 1rem;
  font-weight: 600;
  width: auto;
  margin: -69px 91px 0 138px;
}

.u-section-2 .u-text-20 {
  width: auto;
  font-size: 1rem;
  margin: -100px auto 0 148px;
}

.u-section-2 .u-text-21 {
  width: auto;
  font-size: 1rem;
  margin: 84px auto 0 150px;
}

.u-section-2 .u-line-8 {
  transform-origin: left center 0px;
  margin-top: -47px;
  margin-bottom: 0;
}

.u-section-2 .u-line-9 {
  transform-origin: left center 0px;
  margin-top: -383px;
  margin-bottom: 60px;
}

.u-section-2 .u-text-22 {
  width: auto;
  font-size: 1.125rem;
  margin: 1198px auto 0 138px;
}

.u-section-2 .u-text-23 {
  width: auto;
  font-size: 1.125rem;
  margin: 8px 139px 60px auto;
}

.u-section-2 .u-icon-1 {
  width: 15px;
  height: 15px;
  margin: -15px 134px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 15px;
  height: 15px;
  transform: scaleX(-1);
  transform-origin: center center 0px;
  margin: -15px auto 60px 138px;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-2 .u-image-1 {
    width: 112px;
    height: 72px;
    margin-top: 62px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    font-weight: 600;
    margin: -72px auto 0 148px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto 0 148px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 64px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -72px;
    margin-right: auto;
    margin-left: 149px;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 149px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
    margin-left: 149px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 3px;
    margin-right: 113px;
    margin-bottom: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: -146px;
  }

  .u-section-2 .u-line-3 {
    margin-top: 98px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -70px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 80px;
  }

  .u-section-2 .u-text-8 {
    margin: -69px 91px 0 138px;
  }

  .u-section-2 .u-line-4 {
    margin-top: -47px;
    margin-bottom: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 148px;
    height: 25px;
    margin-top: -418px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-11 {
    font-weight: 700;
    margin-top: -22px;
    margin-right: 170px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: 498px;
  }

  .u-section-2 .u-text-12 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-13 {
    font-size: 0.625rem;
    margin-top: 3px;
    margin-right: 82px;
    margin-left: auto;
  }

  .u-section-2 .u-image-7 {
    margin-top: 61px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-16 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-17 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-18 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-19 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-20 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-21 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-line-9 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-22 {
    font-size: 0.875rem;
    margin-top: 493px;
    margin-left: 160px;
  }

  .u-section-2 .u-text-23 {
    font-size: 0.875rem;
    margin: -17px auto 0 172px;
  }

  .u-section-2 .u-icon-1 {
    width: 9px;
    height: 9px;
    margin-top: -13px;
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-2 .u-icon-2 {
    width: 9px;
    height: 9px;
    margin-top: -9px;
    margin-left: 144px;
  }
}